.container{ width: 100vw; height: 100vh;}

.header{display: flex; flex-direction: row; height: 70px; background-color: black; align-items: center; justify-content: space-between;}

.buttonContainer{display: flex; flex-direction: row; align-items: center; position: relative; right: 0px;}

.btn{ height: 40px; color: black; width: 80px; }
